<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHAT_APP</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <h3>All Chats</h3>
    <form method="GET" action="/chats/new">
<button>New Chat</button>
</form>
<br>
    <% for(let chat of chats) { %>
        <div class="chat">
            <h4>From:<i> <%= chat.from %></i></h4>
            <div class="message">
                <p><strong>Message:</strong></p>
            <p><%= chat.message %></p>
            </div>
            <p>Received by <i><%= chat.to%></i> </p>
        <hr>
        </div>
    <%}%>
    
</body>
</html>